<%= @list.name %>

<h1>here's the movies of this list</h1>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <p><%= movie.title %></p>
  <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this film"  } %>
<% end %>

<h2>add a movie to this list</h2>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, prompt: "Choose a movie" %>
  <%= f.input :comment, label: 'Comment' %>

  <%= f.button :submit %>
<% end %>
<%= link_to "delete", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove"  } %>

<%= link_to "Back to lists", lists_path %>
